// ***********************************
// BANNER
// ***********************************
.banner-slider-wrap{
     position: relative;
    .banner-image{
        width: 100%;
        height: 600px;
        @media #{$small-screen} {
            height: 500px;
        }
        @media #{$tablet} {
            height: 400px;
        }
        @media #{$mobile-only} {
            height: 350px;
        }
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .banner-content{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 99;
        margin: auto;
        @media #{$mobile-only} {
            padding-top: 70px;
        }
        h2{
            font-size: 48px;
            color: $darker;
            padding:0 0 10px;
            @media #{$small-screen} {
                font-size: 42px;
                padding:0 0 5px;
            }
            @media #{$tablet} {
                font-size: 36px;
                padding:0 0 5px;
            }
            @media #{$mobile-only} {
                font-size: 30px;
                padding:0 0 5px;
            }
        }
        p{
            font-size: 20px;
            color: $darker;
            padding:0 0 30px;
            opacity: .8;
            @media #{$small-screen} {
                font-size: 18px;
                padding:0 0 20px;
            }
            @media #{$tablet} {
                font-size: 18px;
                padding:0 0 20px;
            }
            @media #{$mobile-only} {
                font-size: 16px;
                padding:0 0 20px;
            }
        }
        .begin-btn{
            display: inline-block;
            position: relative;
            text-transform: uppercase;
            @media #{$small-screen} {
                font-size: 14px;
            }
            @media #{$tablet} {
                font-size: 14px;
            }
            @media #{$mobile-only} {
                font-size: 12px;
            }
            &:before{
                content: "\f107";
                font-family: $icon-font;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -15px;
                margin: auto;
                @include transition(all 200ms ease-in-out);
            }
            &:hover{
                color: $darker;
                &::before{
                    bottom: -18px;
                }                
            }
        }
    }    
}
.subpage{
    .banner-slider-wrap{
        .banner-image{
            height: 300px;
            @media #{$tablet} {
                height: 250px;
            }
            @media #{$mobile-only} {
                height: 200px;
            }
        }
    }
}

