// ***********************************
// HEADER
// ***********************************
.header{
	background: #121212;
	border-top: solid 3px #d2ac2a;
    position: relative;
    z-index: 999;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 8px;
        background: rgba(0,0,0,.5);
        z-index: 999;
    }
    @media #{$mobile-only} {
        position: fixed;
        width: 100%;
    }
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 0 0;
    @media #{$tablet} {
        padding: 3px 15px 0;
    }
    @media #{$mobile-only} {
        padding: 3px 15px 0;
    }
}
.logo{
	width: 120px;
    @media #{$small-screen} {
        width: 100px;
    }
    @media #{$tablet} {
        width: 100px;
    }
    @media #{$mobile-only} {
        width: 80px;
    }
    img{
        margin-left: -10px;
    }
}
.main-menu{
    ul{
        display: flex;
        li{
            padding-left: 32px;
            @media #{$small-screen} {
                font-size: 15px;
                padding-left: 28px; 
            }
            @media #{$tablet} {
                font-size: 15px;
                padding-left: 24px; 
            }
            a{
                color: #CCC;
                display: block;
                &:hover{
                    color: #d2ac2a;
                }
            }
            &.active a{
                color: #d2ac2a;
            }
        }
    }
    .logo{
        display: none;
        @media #{$mobile-only} {
            display: block;
            text-align: center;
            width: 100%;
            img{
                width: 120px;
                margin: 0;
            }
        }
    }
    .social-media{
        display: none;
    }
    @media #{$mobile-only} {
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        min-height: 100vh;
        background: #121212;
        z-index: 999;
        border-top: solid 3px #d2ac2a;
        padding: 30px 30px;
        @include transition(all 300ms);
        &.active{
            left: 0;
        }
        ul{
            display: block; 
            padding: 20px 0 0;           
            li{
                display: block;
                padding: 12px 0;
                text-align: center;
                border-bottom: solid 1px #090909;
            }
            &.social-media{
                display: flex;
                justify-content: center;
                li{
                    margin: 0 5px;
                    border: none;
                }
            }
        }
    }
}

.menu-icon{
    display: none;
    font-size: 32px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    z-index: 999;
    i{
        color: #CCC; 
    }
    @media #{$mobile-only} {
        display: block;
    }
}
