// ***********************************
// Global
// ***********************************
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
	max-width: 1464px;
    @media #{$medium-screen} {
        max-width: 1304px;
    }
    @media #{$small-screen} {
        max-width: 1164px;
    }
    @media #{$tablet} {
        max-width: 964px;
    }
}

.content-block-outer{
    padding: 90px 0;
	background: #f2f2f2;
	@media #{$small-screen} {
		padding: 70px 0;
	}
	@media #{$tablet} {
		padding: 50px 0;
	}
	@media #{$mobile-only} {
		padding: 50px 0;
	}
	.title{
		padding: 0 0 40px;
		h2{
			color: #121212;
			text-transform: uppercase;
			padding: 0 0 15px;
			@media #{$tablet} {
				font-size: 24px;
				padding: 0 0 10px;
			}
		}
		p{
			padding: 0;
		}
	}
}
.subpage{
	.banner-slider-wrap .banner-content h2{
		font-weight: $medium;
		padding: 0;
		font-size: 36px;
		@media #{$small-screen} {
			font-size: 32px;
		}
		@media #{$tablet} {
			font-size: 30px;
			line-height: 1.4;
		}
		@media #{$mobile-only} {
			font-size: 24px;
			line-height: 1.4;
		}
	}
	.title{
		padding: 0 0 30px;
		@media #{$tablet} {
			padding: 0 0 20px;
		}
		@media #{$mobile-only} {
			padding: 0 0 20px;
		}
		h3{
			font-size: 32px;
			font-weight: $medium;
			color: #363636;
			padding: 30px 0 0;
			@media #{$small-screen} {
				font-size: 30px;
			}
			@media #{$tablet} {
				font-size: 28px;				
				padding: 0;
			}
			@media #{$mobile-only} {
				font-size: 24px;				
				padding: 0;
			}
		}
	}
	.service-content{		
		@media #{$small-screen} {
			min-height: 320px;
			height: auto;
		}
		@media #{$tablet} {
			min-height: 175px;
			height: auto;
		}
	}
	.row{
		.col-md-6:last-child{
			.service-block{
				@media #{$mobile-only} {
					margin: 0;
				}
			}
		}
	}
	.team-block .team-image img{
		height: 320px;
		@media #{$tablet} {
			height: 240px;
		}
		@media #{$mobile-only} {
			height: auto;
		}
	}
	.service-block .service-image img {
		@media #{$tablet}{
			height: 170px;
		}		
	}
}
.content-wrap{
	padding-left: 120px;
	@media #{$tablet} {
		padding-left: 70px;
	}
	@media #{$mobile-only} {
		padding-left: 0;
	}
}
.content-grid{
	display: flex;
	background: #FFF url("../images/logo.png") no-repeat bottom 30px right 40px;	
	background-size: 120px;
	padding: 60px;
	position: relative;
	min-height: 520px;
	@media #{$tablet} {
		padding: 50px;
	}
	@media #{$mobile-only} {
		background-color: transparent;
		padding: 0;
		background-size: 90px;
		background-position: bottom 0px right 20px;;
	}
}
.content-left{
	position: absolute;
	left: -120px;
	width: 300px;
	height: calc(100% - 120px);
	background: #FFF;
	border-left: solid 5px #d2ac2a;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);	
	@media #{$tablet} {
		left: -70px;
		width: 240px;
		height: calc(100% - 100px);
	}
	@media #{$mobile-only} {
		display: none;
	}
	img{
		width: 100%;
		height: 100%;
		min-height: 400px;
		object-fit: cover;
		object-position: center center;	
		display: block;
		@media #{$tablet} {
			min-height: 250px;
			padding: 0;
		}
		@media #{$mobile-only} {
			min-height: 250px;
			padding: 0;
		}
	}
}
.content-right{
	width: 100%;
	padding-left: 170px;
	@media #{$small-screen} {
		padding-left: 160px;
	}	
	@media #{$tablet} {
		padding-left: 150px;
	}
	@media #{$mobile-only} {
		width: 100%;
		order: 1;
		padding: 0 15px;
	}
}
.content-area{
	padding: 0 0 20px;
	p{
		color: #656565;
	}
	ul{
		li{
			font-family: $main-font;
			font-size: $size-base;
			line-height: 1.5;
			color: #656565;
			position: relative;
			padding-left: 20px;
			padding-bottom: 15px;
			a{
				color: #656565;
				&:hover{
					color: #121212;
				}
			}
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 9px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: #363636;
			}
		}
	}
	.download-btn{
		background: #d2ac2a;
		color: #121212;
		padding: 10px 20px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		transition: all 200ms;
		font-weight: $regular;
		margin: 0 0 20px;
		i{
			margin-right: 10px;
		}
		&:hover{
			background: #e0b115;
		}
	}
	.download ul{
		padding-left: 20px;
		margin-bottom: 20px;
		li{
			padding-left: 25px;
			&:before{
				display: none;
			}
			&:after{
				font-family: $icon-font;
				content: "\f019";
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	h5{
		font-size: 18px;
		color: #121212;
		font-weight: $medium;
		padding: 0 0 15px;
	}
}

.services-content{
	text-align: center;
	padding: 0 0 20px;
	.title h3{
		padding-top: 0;
	}
}

.ggr-team{
	background: #FFF;
	border-radius: 4px;
	padding: 10px;
}
.contact-block{
	.title {
		padding: 0 0 40px;
		text-align: center;
		h3{
			padding-top: 0;
		}
	}
}

.contact-details{
	padding: 100px 30px;
	background: url("../images/content/image1.jpg") no-repeat center center;
	background-size: cover;
	height: 100%;
	position: relative;
	z-index: 1;
	@media #{$tablet} {
		padding: 100px 20px;
	}
	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(210,172,42,.8);
		z-index: -1;
	}
	h3{
		color: #363636;
		font-weight: $medium;
		text-transform: uppercase;
		padding: 0 0 20px;
	}
	.link{
		color: #363636;
		font-weight: $medium;
		i, span, a{
			color: #363636;
			&:hover{
				color: #121212;
			}
		}
	}
	.social-media{
		padding: 10px 0 0;
		li a i{
			color: #363636;
			&:hover{
				color: #121212;
			}
		}
	}
}
.contact{
	border-color: #363636;
}
.contact-form{
	.contact-row{
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
		padding: 0 0 20px;
		@media #{$tablet} {
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
		}
		@media #{$mobile-only} {
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
		}
	}
	.contact-grid{
		width: 50%;
		padding: 0 15px;
		@media #{$tablet} {
			width: 100%;
			padding: 0 0 15px;
		}
		@media #{$mobile-only} {
			width: 100%;
			padding: 0 0 15px;
		}
		&:only-child{
			width: 100%;
		}
		label{
			width: 100%;
			font-size: 12px;
			font-weight: $medium;
			text-transform: uppercase;
			color: #363636;
			letter-spacing: 1px;
			padding: 0 0 4px;
		}
		.text-box{
			width: 100%;
			padding: 0 15px;
			height: 50px;
			border: none;
			background: #ddd;
			font-size: 14px;
			color: #363636;
			border-left: solid 2px #9d9d9d;
			&.text-area{
				padding: 15px;
				resize: none;
				height: 200px;
			}
		}
	}
	.send-btn{
		font-size: 16px;
		font-weight: $medium;
		text-transform: uppercase;
		padding: 10px 30px;
		letter-spacing: 2px;
		border: none;
		width: 200px;
		text-align: center;
		margin-top: 10px;
		background: #d2ac2a;
		transition: all 200ms;
		height: 50px;
		&:hover{
			background: #c49a12;
		}
	}
}
